<form class="goal-form" method="post" action="/goals" data-remote="true">
	<div class='field'>
		<input type="text" placeholder="Title "name="goal[title]">
	</div>
	<br>
	<div class='field'>
		<input type="text" placeholder="Goal" name="goal[body]" >
	</div>
	<br>
	<div class='field'>
		Achieve By:<input type="date" name="goal[date]">
	</div>
	<br>
		Color:<input type="color" name="goal[color]">
	<br>
	<div class="actions">
		<input id="submit" type="submit" value="Add">
	</div>
</form>